.classification_1 { 
  background-color: #ff9900; 
}

.classification_2 { 
  background-color: #0066ff; 
}

.classification_3 { 
  background-color: #9900cc; 
}

.classification_4 { 
  background-color: #804000; 
}

.classification_5 { 
  background-color: #ff3300; 
}

