{% ckan_extends %}

{% block primary_content_inner %}
  {% if pkg.resources %}
    <ul class="resource-list"{% if has_reorder %} data-module="resource-reorder" data-module-id="{{ pkg.id }}"{% endif %}>
      {% block resource_inner %}
      {% set user_classification = h.classification_get_classification(h.classification_get_current_user_id(), pkg.owner_org, pkg.type) %}
      {% for resource in pkg.resources %}
        {% if not resource.classification or resource.classification <= user_classification %}
          {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, url_is_edit=True %}
        {% endif %}
      {% endfor %}
      {% endblock %}
    </ul>
  {% else %}
    {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
      <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
    {% endtrans %}
  {% endif %}
{% endblock %}
